<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FaceVIP101_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,447},{70,101}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,8},{70,101}}</string>
                <key>sourceSize</key>
                <string>{120,117}</string>
            </dict>
            <key>FaceVIP101_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,393},{70,101}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,8},{70,101}}</string>
                <key>sourceSize</key>
                <string>{120,117}</string>
            </dict>
            <key>FaceVIP102_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{113,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP102_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{113,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP103_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,119},{91,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{91,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP103_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{97,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{97,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP103_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,117},{91,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{91,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP103_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{97,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{97,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP103_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,119},{91,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{91,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP103_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,101},{91,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{91,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP104_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,2},{115,46}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,46}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP104_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,327},{115,74}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,74}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP104_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,295},{115,94}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,94}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP104_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,289},{115,102}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,102}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP104_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,281},{115,110}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,110}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP104_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{115,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP104_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{115,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP104_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{115,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP104_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{115,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP105_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,95},{91,120}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{91,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP105_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,275},{91,116}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{91,116}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP105_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,2},{91,120}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{91,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP105_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,2},{91,120}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{91,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP105_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,269},{91,116}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{91,116}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP105_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,2},{91,120}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{91,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP105_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,2},{91,120}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{91,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP106_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,441},{77,112}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{77,112}}</string>
                <key>sourceSize</key>
                <string>{105,120}</string>
            </dict>
            <key>FaceVIP106_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,391},{91,112}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{91,112}}</string>
                <key>sourceSize</key>
                <string>{105,120}</string>
            </dict>
            <key>FaceVIP106_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,435},{77,112}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{77,112}}</string>
                <key>sourceSize</key>
                <string>{105,120}</string>
            </dict>
            <key>FaceVIP106_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,368},{77,112}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{77,112}}</string>
                <key>sourceSize</key>
                <string>{105,120}</string>
            </dict>
            <key>FaceVIP106_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,403},{79,112}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{79,112}}</string>
                <key>sourceSize</key>
                <string>{105,120}</string>
            </dict>
            <key>FaceVIP106_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,362},{77,112}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{77,112}}</string>
                <key>sourceSize</key>
                <string>{105,120}</string>
            </dict>
            <key>FaceVIP106_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,356},{77,112}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{77,112}}</string>
                <key>sourceSize</key>
                <string>{105,120}</string>
            </dict>
            <key>FaceVIP106_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,277},{77,112}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{77,112}}</string>
                <key>sourceSize</key>
                <string>{105,120}</string>
            </dict>
            <key>FaceVIP106_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,182},{93,118}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{93,118}}</string>
                <key>sourceSize</key>
                <string>{105,120}</string>
            </dict>
            <key>FaceVIP107_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,393},{82,101}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{82,101}}</string>
                <key>sourceSize</key>
                <string>{120,117}</string>
            </dict>
            <key>FaceVIP107_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,514},{82,101}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{82,101}}</string>
                <key>sourceSize</key>
                <string>{120,117}</string>
            </dict>
            <key>FaceVIP107_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,514},{82,101}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{82,101}}</string>
                <key>sourceSize</key>
                <string>{120,117}</string>
            </dict>
            <key>FaceVIP108_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,210},{83,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{83,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP108_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,194},{85,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{85,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP108_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,204},{83,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{83,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP108_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,188},{85,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{85,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP109_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{115,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP109_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{115,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP109_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{115,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP109_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{115,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP110_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP110_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,212},{113,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{113,118}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP111_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,182},{85,120}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{85,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP111_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,95},{85,120}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{85,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP111_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,182},{85,120}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{85,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP111_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,95},{85,120}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{85,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP111_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,117},{85,120}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{85,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>FaceVIP112_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,514},{88,99}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,10},{88,99}}</string>
                <key>sourceSize</key>
                <string>{120,117}</string>
            </dict>
            <key>FaceVIP112_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,465},{88,95}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,14},{88,95}}</string>
                <key>sourceSize</key>
                <string>{120,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>VipFace.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:741bdd3265a444c5ee2975093d935aa2$</string>
            <key>textureFileName</key>
            <string>VipFace.png</string>
        </dict>
    </dict>
</plist>
