<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>login_bg.png</key>
			<dict>
				<key>width</key>
				<integer>960</integer>
				<key>height</key>
				<integer>640</integer>
				<key>originalWidth</key>
				<integer>960</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>menu_bg.png</key>
			<dict>
				<key>width</key>
				<integer>960</integer>
				<key>height</key>
				<integer>640</integer>
				<key>originalWidth</key>
				<integer>960</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>962</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>competition/bg.png</key>
			<dict>
				<key>width</key>
				<integer>483</integer>
				<key>height</key>
				<integer>287</integer>
				<key>originalWidth</key>
				<integer>483</integer>
				<key>originalHeight</key>
				<integer>287</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>competition/menu_day.png</key>
			<dict>
				<key>width</key>
				<integer>492</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>492</integer>
				<key>originalHeight</key>
				<integer>126</integer>
				<key>x</key>
				<integer>485</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>competition/menu_month.png</key>
			<dict>
				<key>width</key>
				<integer>492</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>492</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>979</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>competition/menu_night.png</key>
			<dict>
				<key>width</key>
				<integer>489</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>489</integer>
				<key>originalHeight</key>
				<integer>126</integer>
				<key>x</key>
				<integer>1473</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>competition/week.png</key>
			<dict>
				<key>width</key>
				<integer>257</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>257</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cortana/msg_return1.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>90</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>259</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cortana/msg_return2.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>90</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>351</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cortana/msg_transparentBg.png</key>
			<dict>
				<key>width</key>
				<integer>763</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>763</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>443</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fonts/bitmap.png</key>
			<dict>
				<key>width</key>
				<integer>254</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1208</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>84.5</real>
			</dict>
			<key>fonts/newFnt.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1464</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>-80.5</real>
				<key>offsetY</key>
				<real>113.5</real>
			</dict>
			<key>hu/fengyise.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>151</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>1561</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hu/gangshangkaiuhua.png</key>
			<dict>
				<key>width</key>
				<integer>204</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>1714</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>UIMajiang1.png</string>
			<key>realTextureFileName</key>
			<string>UIMajiang1.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>