<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>playerInfo/jieshuan_bg3.png</key>
			<dict>
				<key>width</key>
				<integer>13</integer>
				<key>height</key>
				<integer>316</integer>
				<key>originalWidth</key>
				<integer>13</integer>
				<key>originalHeight</key>
				<integer>316</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_bg1.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>640</integer>
				<key>originalWidth</key>
				<integer>17</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>15</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_shangjia.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>34</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_wo.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>54</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>132</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_xiajia.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>188</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_xiazhuo1.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>166</integer>
				<key>originalHeight</key>
				<integer>62</integer>
				<key>x</key>
				<integer>286</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_xiazhuo2.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>166</integer>
				<key>originalHeight</key>
				<integer>62</integer>
				<key>x</key>
				<integer>454</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_yuanjiao.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>43</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>622</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/Kickedout1.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>667</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/Kickedout2.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>749</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/listView_select_Bg.png</key>
			<dict>
				<key>width</key>
				<integer>541</integer>
				<key>height</key>
				<integer>247</integer>
				<key>originalWidth</key>
				<integer>541</integer>
				<key>originalHeight</key>
				<integer>247</integer>
				<key>x</key>
				<integer>831</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/listView_select_item.png</key>
			<dict>
				<key>width</key>
				<integer>537</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>537</integer>
				<key>originalHeight</key>
				<integer>68</integer>
				<key>x</key>
				<integer>1374</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/messageBox_bg.png</key>
			<dict>
				<key>width</key>
				<integer>456</integer>
				<key>height</key>
				<integer>329</integer>
				<key>originalWidth</key>
				<integer>456</integer>
				<key>originalHeight</key>
				<integer>329</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/message_button1.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>133</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>458</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/message_button2.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>133</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>593</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/options_setting1.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>97</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>728</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/options_setting2.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>97</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>827</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/playerInfoBg.png</key>
			<dict>
				<key>width</key>
				<integer>293</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>293</integer>
				<key>originalHeight</key>
				<integer>166</integer>
				<key>x</key>
				<integer>926</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/Return1.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>1221</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/Return2.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>1288</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/room_createRoom1.png</key>
			<dict>
				<key>width</key>
				<integer>249</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>249</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>1355</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/room_createRoom2.png</key>
			<dict>
				<key>width</key>
				<integer>249</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>249</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>1606</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/room_gangBg1.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>143</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>1857</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/room_timeBgButton.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/shezhi_anniu2.png</key>
			<dict>
				<key>width</key>
				<integer>336</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>336</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>65</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/Shield.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>127</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>403</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/Shield2.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>532</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/singCard_bg.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>659</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/singCard_bg4.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>694</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/singCard_fa.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>760</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/singCard_lai.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>795</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/singCard_pi.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>830</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/singCard_zhong.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>865</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_address.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>900</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_caifu.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>45</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>970</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_friendList1.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>91</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>1017</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_friendList2.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>91</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>1110</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_geiqian1.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1203</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_geiqian2.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1285</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_hulue1.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1367</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_hulue2.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1449</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_income1.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>91</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>1531</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_income2.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>91</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>1624</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_jiangli.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>1717</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_name.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>45</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>1763</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_paiming.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>46</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>1810</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_shouqian1.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1858</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_shouqian2.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1940</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>UIMajiang5.png</string>
			<key>realTextureFileName</key>
			<string>UIMajiang5.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>