<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_createRoom.png</key>
			<dict>
				<key>width</key>
				<integer>960</integer>
				<key>height</key>
				<integer>5</integer>
				<key>originalWidth</key>
				<integer>960</integer>
				<key>originalHeight</key>
				<integer>5</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_createRoomGold.png</key>
			<dict>
				<key>width</key>
				<integer>930</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>930</integer>
				<key>originalHeight</key>
				<integer>1</integer>
				<key>x</key>
				<integer>962</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_gold_angle.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>51</integer>
				<key>originalHeight</key>
				<integer>37</integer>
				<key>x</key>
				<integer>1894</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_transparent.png</key>
			<dict>
				<key>width</key>
				<integer>616</integer>
				<key>height</key>
				<integer>319</integer>
				<key>originalWidth</key>
				<integer>616</integer>
				<key>originalHeight</key>
				<integer>319</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>39</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_white.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>598</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>599</integer>
				<key>x</key>
				<integer>618</integer>
				<key>y</key>
				<integer>39</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>bg_yellow_noring.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>54</integer>
				<key>x</key>
				<integer>652</integer>
				<key>y</key>
				<integer>39</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>bg_yellow_ring.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>46</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>698</integer>
				<key>y</key>
				<integer>39</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>big_yellow_bg.png</key>
			<dict>
				<key>width</key>
				<integer>841</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>841</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>746</integer>
				<key>y</key>
				<integer>39</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>button_gray1.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>1589</integer>
				<key>y</key>
				<integer>39</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>button_gray2.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>1731</integer>
				<key>y</key>
				<integer>39</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>button_gree1.png</key>
			<dict>
				<key>width</key>
				<integer>157</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>157</integer>
				<key>originalHeight</key>
				<integer>67</integer>
				<key>x</key>
				<integer>1873</integer>
				<key>y</key>
				<integer>39</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>button_gree2.png</key>
			<dict>
				<key>width</key>
				<integer>157</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>157</integer>
				<key>originalHeight</key>
				<integer>66</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>639</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>button_green1.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>159</integer>
				<key>y</key>
				<integer>639</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>button_green2.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>301</integer>
				<key>y</key>
				<integer>639</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>button_org1.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>148</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>443</integer>
				<key>y</key>
				<integer>639</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>button_org2.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>148</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>593</integer>
				<key>y</key>
				<integer>639</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>coins.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>743</integer>
				<key>y</key>
				<integer>639</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>coupons.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>90</integer>
				<key>originalHeight</key>
				<integer>85</integer>
				<key>x</key>
				<integer>815</integer>
				<key>y</key>
				<integer>639</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>diamonds.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>90</integer>
				<key>originalHeight</key>
				<integer>73</integer>
				<key>x</key>
				<integer>907</integer>
				<key>y</key>
				<integer>639</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>msg_award_bg.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>68</integer>
				<key>x</key>
				<integer>999</integer>
				<key>y</key>
				<integer>639</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NoInvit.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>135</integer>
				<key>originalHeight</key>
				<integer>139</integer>
				<key>x</key>
				<integer>1071</integer>
				<key>y</key>
				<integer>639</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>tickets.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>85</integer>
				<key>x</key>
				<integer>1208</integer>
				<key>y</key>
				<integer>639</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>competition/activities_bg.png</key>
			<dict>
				<key>width</key>
				<integer>309</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>309</integer>
				<key>originalHeight</key>
				<integer>86</integer>
				<key>x</key>
				<integer>1284</integer>
				<key>y</key>
				<integer>639</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>competition/activities_kanbanniang.png</key>
			<dict>
				<key>width</key>
				<integer>298</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>298</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>1595</integer>
				<key>y</key>
				<integer>639</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>competition/addDiamonds1.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>102</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>1895</integer>
				<key>y</key>
				<integer>639</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>competition/addDiamonds2.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>102</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>780</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>competition/baojiao.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>17</integer>
				<key>originalHeight</key>
				<integer>18</integer>
				<key>x</key>
				<integer>104</integer>
				<key>y</key>
				<integer>780</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>competition/btn_blue1.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>113</integer>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>x</key>
				<integer>123</integer>
				<key>y</key>
				<integer>780</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>competition/btn_green1.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>113</integer>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>x</key>
				<integer>238</integer>
				<key>y</key>
				<integer>780</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>competition/btn_green2.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>113</integer>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>x</key>
				<integer>353</integer>
				<key>y</key>
				<integer>780</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>competition/chujia_bg.png</key>
			<dict>
				<key>width</key>
				<integer>231</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>231</integer>
				<key>originalHeight</key>
				<integer>110</integer>
				<key>x</key>
				<integer>468</integer>
				<key>y</key>
				<integer>780</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>competition/crown.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>701</integer>
				<key>y</key>
				<integer>780</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>competition/day.png</key>
			<dict>
				<key>width</key>
				<integer>257</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>257</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>725</integer>
				<key>y</key>
				<integer>780</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>competition/day_s.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>984</integer>
				<key>y</key>
				<integer>780</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>competition/fengexian.png</key>
			<dict>
				<key>width</key>
				<integer>304</integer>
				<key>height</key>
				<integer>2</integer>
				<key>originalWidth</key>
				<integer>304</integer>
				<key>originalHeight</key>
				<integer>2</integer>
				<key>x</key>
				<integer>1060</integer>
				<key>y</key>
				<integer>780</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>competition/fonts.png</key>
			<dict>
				<key>width</key>
				<integer>361</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1366</integer>
				<key>y</key>
				<integer>780</integer>
				<key>offsetX</key>
				<real>-69.5</real>
				<key>offsetY</key>
				<real>87.5</real>
			</dict>
			<key>competition/gongxi.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>54</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>1729</integer>
				<key>y</key>
				<integer>780</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>competition/guanjunkehuode.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>132</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>1785</integer>
				<key>y</key>
				<integer>780</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>competition/huadong.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>15</integer>
				<key>originalHeight</key>
				<integer>18</integer>
				<key>x</key>
				<integer>1919</integer>
				<key>y</key>
				<integer>780</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>competition/huodeguanjun.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>105</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>1936</integer>
				<key>y</key>
				<integer>780</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>competition/item_Bg.png</key>
			<dict>
				<key>width</key>
				<integer>286</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>286</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>892</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>competition/item_down.png</key>
			<dict>
				<key>width</key>
				<integer>5</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>5</integer>
				<key>originalHeight</key>
				<integer>11</integer>
				<key>x</key>
				<integer>288</integer>
				<key>y</key>
				<integer>892</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>competition/item_up.png</key>
			<dict>
				<key>width</key>
				<integer>5</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>5</integer>
				<key>originalHeight</key>
				<integer>11</integer>
				<key>x</key>
				<integer>295</integer>
				<key>y</key>
				<integer>892</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>competition/jifensai.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>302</integer>
				<key>y</key>
				<integer>892</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>competition/logo.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>129</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>367</integer>
				<key>y</key>
				<integer>892</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>competition/menu_day.png</key>
			<dict>
				<key>width</key>
				<integer>492</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>492</integer>
				<key>originalHeight</key>
				<integer>126</integer>
				<key>x</key>
				<integer>498</integer>
				<key>y</key>
				<integer>892</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>competition/menu_month.png</key>
			<dict>
				<key>width</key>
				<integer>492</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>492</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>992</integer>
				<key>y</key>
				<integer>892</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>competition/menu_night.png</key>
			<dict>
				<key>width</key>
				<integer>489</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>489</integer>
				<key>originalHeight</key>
				<integer>126</integer>
				<key>x</key>
				<integer>1486</integer>
				<key>y</key>
				<integer>892</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>options/bg_jiange.png</key>
			<dict>
				<key>width</key>
				<integer>329</integer>
				<key>height</key>
				<integer>2</integer>
				<key>originalWidth</key>
				<integer>329</integer>
				<key>originalHeight</key>
				<integer>2</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1020</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/fanshuBg.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>1</integer>
				<key>originalHeight</key>
				<integer>1</integer>
				<key>x</key>
				<integer>331</integer>
				<key>y</key>
				<integer>1020</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_hentiao.png</key>
			<dict>
				<key>width</key>
				<integer>690</integer>
				<key>height</key>
				<integer>2</integer>
				<key>originalWidth</key>
				<integer>690</integer>
				<key>originalHeight</key>
				<integer>2</integer>
				<key>x</key>
				<integer>334</integer>
				<key>y</key>
				<integer>1020</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>UIMajiang0.png</string>
			<key>realTextureFileName</key>
			<string>UIMajiang0.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>