<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>roomEnded/jiesuan_xuanYao1.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>85</integer>
				<key>originalHeight</key>
				<integer>138</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/jiesuan_xuanYao2.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>85</integer>
				<key>originalHeight</key>
				<integer>138</integer>
				<key>x</key>
				<integer>87</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/mj_nomalBg1.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>156</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>156</integer>
				<key>x</key>
				<integer>174</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/room_create1.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>155</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>251</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/room_create2.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>155</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>408</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/room_itemBg.png</key>
			<dict>
				<key>width</key>
				<integer>957</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>957</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>565</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/room_loseNumFont.png</key>
			<dict>
				<key>width</key>
				<integer>328</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>1524</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/room_nickName.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>1854</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/room_winning.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>1924</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/room_winningFont.png</key>
			<dict>
				<key>width</key>
				<integer>251</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>253</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/room_winNumFont.png</key>
			<dict>
				<key>width</key>
				<integer>330</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>253</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/share_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>428</integer>
				<key>originalWidth</key>
				<integer>1</integer>
				<key>originalHeight</key>
				<integer>428</integer>
				<key>x</key>
				<integer>585</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/share_pengyouquan1.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>182</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>194</integer>
				<key>x</key>
				<integer>588</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>roomEnded/share_pengyouquan2.png</key>
			<dict>
				<key>width</key>
				<integer>154</integer>
				<key>height</key>
				<integer>194</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>194</integer>
				<key>x</key>
				<integer>720</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/share_weibo1.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>193</integer>
				<key>x</key>
				<integer>876</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>roomEnded/share_weibo2.png</key>
			<dict>
				<key>width</key>
				<integer>154</integer>
				<key>height</key>
				<integer>193</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>193</integer>
				<key>x</key>
				<integer>1008</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/share_weixin1.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>194</integer>
				<key>x</key>
				<integer>1164</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>roomEnded/share_weixin2.png</key>
			<dict>
				<key>width</key>
				<integer>154</integer>
				<key>height</key>
				<integer>194</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>194</integer>
				<key>x</key>
				<integer>1296</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/diamon.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>1452</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/gold.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>1482</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/head_bg1.png</key>
			<dict>
				<key>width</key>
				<integer>218</integer>
				<key>height</key>
				<integer>218</integer>
				<key>originalWidth</key>
				<integer>218</integer>
				<key>originalHeight</key>
				<integer>218</integer>
				<key>x</key>
				<integer>1512</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_Authenticate.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>1732</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_bg.png</key>
			<dict>
				<key>width</key>
				<integer>516</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>516</integer>
				<key>originalHeight</key>
				<integer>166</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>588</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_bigBg2.png</key>
			<dict>
				<key>width</key>
				<integer>599</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>599</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>518</integer>
				<key>y</key>
				<integer>588</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_cancel1.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>172</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>1119</integer>
				<key>y</key>
				<integer>588</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_cancel2.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>172</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>1293</integer>
				<key>y</key>
				<integer>588</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_cansai1.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>1467</integer>
				<key>y</key>
				<integer>588</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_cansai2.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>1569</integer>
				<key>y</key>
				<integer>588</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_dui1.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>58</integer>
				<key>x</key>
				<integer>1671</integer>
				<key>y</key>
				<integer>588</integer>
				<key>offsetX</key>
				<real>46</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_dui2.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>58</integer>
				<key>x</key>
				<integer>1731</integer>
				<key>y</key>
				<integer>588</integer>
				<key>offsetX</key>
				<real>46</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_duihuan1.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>1791</integer>
				<key>y</key>
				<integer>588</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_duihuan2.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>1893</integer>
				<key>y</key>
				<integer>588</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_edit1.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>31</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>1995</integer>
				<key>y</key>
				<integer>588</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_edit2.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>31</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_editHead.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>39</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>33</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_editPwd.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>74</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_isRealName.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>116</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_majiangLife.png</key>
			<dict>
				<key>width</key>
				<integer>173</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>173</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>262</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_realName1.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>437</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_realName2.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>564</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_realNameEd.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>691</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_sai1.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>58</integer>
				<key>x</key>
				<integer>818</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>46</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_sai2.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>58</integer>
				<key>x</key>
				<integer>878</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>46</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_Set1.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>39</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>938</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_Set2.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>39</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>979</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_setMail.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>1020</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_setPhone.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>189</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>1062</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_setPwd.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>227</integer>
				<key>originalWidth</key>
				<integer>41</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>1104</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_submit1.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>172</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>1147</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_submit2.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>172</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>1321</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/login_fast_login1.png</key>
			<dict>
				<key>width</key>
				<integer>205</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>205</integer>
				<key>originalHeight</key>
				<integer>58</integer>
				<key>x</key>
				<integer>1495</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/login_fast_login2.png</key>
			<dict>
				<key>width</key>
				<integer>205</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>205</integer>
				<key>originalHeight</key>
				<integer>58</integer>
				<key>x</key>
				<integer>1702</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/login_fenge.png</key>
			<dict>
				<key>width</key>
				<integer>2</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>2</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>1909</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/login_sina1.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>1913</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/menu_baoFang2.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>985</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/tab_edit1.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>91</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>70</integer>
				<key>y</key>
				<integer>985</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/tab_edit2.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>91</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>163</integer>
				<key>y</key>
				<integer>985</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/tab_info1.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>90</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>256</integer>
				<key>y</key>
				<integer>985</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/tab_info2.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>90</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>348</integer>
				<key>y</key>
				<integer>985</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>UIMajiang7.png</string>
			<key>realTextureFileName</key>
			<string>UIMajiang7.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>