<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>userInfo/big_info.png</key>
			<dict>
				<key>width</key>
				<integer>609</integer>
				<key>height</key>
				<integer>405</integer>
				<key>originalWidth</key>
				<integer>609</integer>
				<key>originalHeight</key>
				<integer>405</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/big_life.png</key>
			<dict>
				<key>width</key>
				<integer>736</integer>
				<key>height</key>
				<integer>409</integer>
				<key>originalWidth</key>
				<integer>736</integer>
				<key>originalHeight</key>
				<integer>409</integer>
				<key>x</key>
				<integer>611</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_bg.png</key>
			<dict>
				<key>width</key>
				<integer>516</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>516</integer>
				<key>originalHeight</key>
				<integer>166</integer>
				<key>x</key>
				<integer>1349</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_cancel1.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>172</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>1867</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_cancel2.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>172</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>411</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_fenge.png</key>
			<dict>
				<key>width</key>
				<integer>4</integer>
				<key>height</key>
				<integer>518</integer>
				<key>originalWidth</key>
				<integer>4</integer>
				<key>originalHeight</key>
				<integer>518</integer>
				<key>x</key>
				<integer>174</integer>
				<key>y</key>
				<integer>411</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_life_btn1.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>180</integer>
				<key>y</key>
				<integer>411</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_life_btn2.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>306</integer>
				<key>y</key>
				<integer>411</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_submit1.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>172</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>432</integer>
				<key>y</key>
				<integer>411</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_submit2.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>172</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>606</integer>
				<key>y</key>
				<integer>411</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/menu_bisaiBg.png</key>
			<dict>
				<key>width</key>
				<integer>429</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>429</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>780</integer>
				<key>y</key>
				<integer>411</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/menu_button1.png</key>
			<dict>
				<key>width</key>
				<integer>225</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>225</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>1211</integer>
				<key>y</key>
				<integer>411</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/menu_button2.png</key>
			<dict>
				<key>width</key>
				<integer>225</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>225</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>1438</integer>
				<key>y</key>
				<integer>411</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/menu_dayLottery.png</key>
			<dict>
				<key>width</key>
				<integer>164</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>164</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/menu_mark1.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>92</integer>
				<key>x</key>
				<integer>166</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>userInfo/menu_msg1.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>222</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>userInfo/menu_pay1.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>274</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>userInfo/menu_pay2.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>327</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/menu_qiehuan1.png</key>
			<dict>
				<key>width</key>
				<integer>334</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>334</integer>
				<key>originalHeight</key>
				<integer>77</integer>
				<key>x</key>
				<integer>407</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/menu_qiehuan2.png</key>
			<dict>
				<key>width</key>
				<integer>334</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>334</integer>
				<key>originalHeight</key>
				<integer>77</integer>
				<key>x</key>
				<integer>743</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/menu_setting1.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>77</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>1079</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>userInfo/menu_setting2.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>77</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>1130</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>userInfo/menu_sign1.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>77</integer>
				<key>x</key>
				<integer>1207</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/menu_sign2.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>77</integer>
				<key>x</key>
				<integer>1269</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/menu_sociality1.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>91</integer>
				<key>x</key>
				<integer>1331</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>userInfo/menu_sociality2.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>91</integer>
				<key>x</key>
				<integer>1382</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/menu_task1.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>1455</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/menu_task2.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>1507</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/menu_top1.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>83</integer>
				<key>originalHeight</key>
				<integer>92</integer>
				<key>x</key>
				<integer>1559</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>C:/Program Files (x86)/CocoStudio/EditorDefaultRes/GUI/image.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>1615</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>UIMajiang9.png</string>
			<key>realTextureFileName</key>
			<string>UIMajiang9.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>