<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>userInfo/info_bigBg.png</key>
			<dict>
				<key>width</key>
				<integer>720</integer>
				<key>height</key>
				<integer>492</integer>
				<key>originalWidth</key>
				<integer>720</integer>
				<key>originalHeight</key>
				<integer>492</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_fenge.png</key>
			<dict>
				<key>width</key>
				<integer>4</integer>
				<key>height</key>
				<integer>518</integer>
				<key>originalWidth</key>
				<integer>4</integer>
				<key>originalHeight</key>
				<integer>518</integer>
				<key>x</key>
				<integer>722</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_sai1.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>58</integer>
				<key>x</key>
				<integer>728</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>46</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_sai2.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>58</integer>
				<key>x</key>
				<integer>788</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>46</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_Set1.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>39</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>848</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_Set2.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>39</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>889</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_setMail.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>930</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_setPhone.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>189</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>972</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_setPwd.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>227</integer>
				<key>originalWidth</key>
				<integer>41</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>1014</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_submit1.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>172</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>1057</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_submit2.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>172</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>1231</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/menu_baoFang1.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>41</integer>
				<key>x</key>
				<integer>1405</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/menu_bisai1.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>1491</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/menu_bisai2.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>1572</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/menu_bisaiBg.png</key>
			<dict>
				<key>width</key>
				<integer>429</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>429</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>520</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/menu_button1.png</key>
			<dict>
				<key>width</key>
				<integer>225</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>225</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>431</integer>
				<key>y</key>
				<integer>520</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/menu_button2.png</key>
			<dict>
				<key>width</key>
				<integer>225</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>225</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>658</integer>
				<key>y</key>
				<integer>520</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/menu_cloud.png</key>
			<dict>
				<key>width</key>
				<integer>844</integer>
				<key>height</key>
				<integer>332</integer>
				<key>originalWidth</key>
				<integer>844</integer>
				<key>originalHeight</key>
				<integer>332</integer>
				<key>x</key>
				<integer>885</integer>
				<key>y</key>
				<integer>520</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/menu_dayLottery.png</key>
			<dict>
				<key>width</key>
				<integer>164</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>164</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>1731</integer>
				<key>y</key>
				<integer>520</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/menu_infoBg.png</key>
			<dict>
				<key>width</key>
				<integer>461</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>461</integer>
				<key>originalHeight</key>
				<integer>108</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>854</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/menu_lottery.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>143</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>463</integer>
				<key>y</key>
				<integer>854</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/menu_mark1.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>92</integer>
				<key>x</key>
				<integer>608</integer>
				<key>y</key>
				<integer>854</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>userInfo/menu_mark2.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>92</integer>
				<key>x</key>
				<integer>664</integer>
				<key>y</key>
				<integer>854</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/menu_msg1.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>746</integer>
				<key>y</key>
				<integer>854</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>userInfo/menu_msg2.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>798</integer>
				<key>y</key>
				<integer>854</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>userInfo/menu_newHuodong.png</key>
			<dict>
				<key>width</key>
				<integer>182</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>182</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>877</integer>
				<key>y</key>
				<integer>854</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/menu_pay1.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>1061</integer>
				<key>y</key>
				<integer>854</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>userInfo/menu_pay2.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>1114</integer>
				<key>y</key>
				<integer>854</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/menu_qiehuan1.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>155</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>1194</integer>
				<key>y</key>
				<integer>854</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/menu_qiehuan2.png</key>
			<dict>
				<key>width</key>
				<integer>154</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>155</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>1351</integer>
				<key>y</key>
				<integer>854</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/menu_setting1.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>77</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>1507</integer>
				<key>y</key>
				<integer>854</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>userInfo/menu_setting2.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>77</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>1558</integer>
				<key>y</key>
				<integer>854</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>userInfo/menu_sociality1.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>91</integer>
				<key>x</key>
				<integer>1635</integer>
				<key>y</key>
				<integer>854</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>userInfo/menu_sociality2.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>91</integer>
				<key>x</key>
				<integer>1686</integer>
				<key>y</key>
				<integer>854</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/menu_titlebaoFang1.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>106</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>1759</integer>
				<key>y</key>
				<integer>854</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>userInfo/menu_titlebaoFang2.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>106</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>1834</integer>
				<key>y</key>
				<integer>854</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>userInfo/menu_titlebiSai1.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>106</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>1907</integer>
				<key>y</key>
				<integer>854</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>UIMajiang8.png</string>
			<key>realTextureFileName</key>
			<string>UIMajiang8.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>