<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>playerInfo/messageBox_bg.png</key>
			<dict>
				<key>width</key>
				<integer>458</integer>
				<key>height</key>
				<integer>329</integer>
				<key>originalWidth</key>
				<integer>458</integer>
				<key>originalHeight</key>
				<integer>329</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/playerInfoBg.png</key>
			<dict>
				<key>width</key>
				<integer>293</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>293</integer>
				<key>originalHeight</key>
				<integer>166</integer>
				<key>x</key>
				<integer>460</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/roomback.png</key>
			<dict>
				<key>width</key>
				<integer>773</integer>
				<key>height</key>
				<integer>563</integer>
				<key>originalWidth</key>
				<integer>773</integer>
				<key>originalHeight</key>
				<integer>563</integer>
				<key>x</key>
				<integer>755</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/room_createRoom1.png</key>
			<dict>
				<key>width</key>
				<integer>249</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>249</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>1530</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/room_createRoom2.png</key>
			<dict>
				<key>width</key>
				<integer>249</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>249</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>1781</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/setting_bg.png</key>
			<dict>
				<key>width</key>
				<integer>477</integer>
				<key>height</key>
				<integer>319</integer>
				<key>originalWidth</key>
				<integer>477</integer>
				<key>originalHeight</key>
				<integer>319</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>565</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/shezhi_anniu2.png</key>
			<dict>
				<key>width</key>
				<integer>336</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>336</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>479</integer>
				<key>y</key>
				<integer>565</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/shezhi_anniu3.png</key>
			<dict>
				<key>width</key>
				<integer>336</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>336</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>817</integer>
				<key>y</key>
				<integer>565</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/shezhi_bg.png</key>
			<dict>
				<key>width</key>
				<integer>482</integer>
				<key>height</key>
				<integer>388</integer>
				<key>originalWidth</key>
				<integer>482</integer>
				<key>originalHeight</key>
				<integer>388</integer>
				<key>x</key>
				<integer>1155</integer>
				<key>y</key>
				<integer>565</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/Shield.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>127</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>1639</integer>
				<key>y</key>
				<integer>565</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/Shield2.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>1768</integer>
				<key>y</key>
				<integer>565</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/singCard_bg.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>1895</integer>
				<key>y</key>
				<integer>565</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/singCard_fa.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>1930</integer>
				<key>y</key>
				<integer>565</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/singCard_lai.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>1965</integer>
				<key>y</key>
				<integer>565</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/singCard_pi.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>2000</integer>
				<key>y</key>
				<integer>565</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/singCard_zhong.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>955</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_addF1.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>130</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>35</integer>
				<key>y</key>
				<integer>955</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_addF2.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>130</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>167</integer>
				<key>y</key>
				<integer>955</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_address.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>299</integer>
				<key>y</key>
				<integer>955</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_allAgree1.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>130</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>369</integer>
				<key>y</key>
				<integer>955</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_allAgree2.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>130</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>501</integer>
				<key>y</key>
				<integer>955</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_caifu.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>45</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>633</integer>
				<key>y</key>
				<integer>955</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_friendList1.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>91</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>680</integer>
				<key>y</key>
				<integer>955</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_friendList2.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>91</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>773</integer>
				<key>y</key>
				<integer>955</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_geiqian1.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>866</integer>
				<key>y</key>
				<integer>955</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_geiqian2.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>948</integer>
				<key>y</key>
				<integer>955</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_hongzuan.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>47</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>1030</integer>
				<key>y</key>
				<integer>955</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_hulue1.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1079</integer>
				<key>y</key>
				<integer>955</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_hulue2.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1161</integer>
				<key>y</key>
				<integer>955</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_income1.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>91</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>1243</integer>
				<key>y</key>
				<integer>955</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_income2.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>91</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>1336</integer>
				<key>y</key>
				<integer>955</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_jiangli.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>1429</integer>
				<key>y</key>
				<integer>955</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_name.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>45</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>1475</integer>
				<key>y</key>
				<integer>955</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_paiming.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>46</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>1522</integer>
				<key>y</key>
				<integer>955</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_shouqian1.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1570</integer>
				<key>y</key>
				<integer>955</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_shouqian2.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1652</integer>
				<key>y</key>
				<integer>955</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_song1.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1734</integer>
				<key>y</key>
				<integer>955</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_song2.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1816</integer>
				<key>y</key>
				<integer>955</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_totalTop1.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>1898</integer>
				<key>y</key>
				<integer>955</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_totalTop2.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>1968</integer>
				<key>y</key>
				<integer>955</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/三角.png</key>
			<dict>
				<key>width</key>
				<integer>10</integer>
				<key>height</key>
				<integer>4</integer>
				<key>originalWidth</key>
				<integer>10</integer>
				<key>originalHeight</key>
				<integer>4</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1010</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/room_caitiao.png</key>
			<dict>
				<key>width</key>
				<integer>831</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>831</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>12</integer>
				<key>y</key>
				<integer>1010</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>UIMajiang4.png</string>
			<key>realTextureFileName</key>
			<string>UIMajiang4.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>