<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>playerInfo/wait_hor.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>151</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/wait_ver.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>153</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/yellow.png</key>
			<dict>
				<key>width</key>
				<integer>721</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>721</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>181</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/上家.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>43</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>904</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/下家.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>43</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>949</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/对家.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>994</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/本家.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>43</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>1040</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/牌面.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>1085</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/番.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>19</integer>
				<key>x</key>
				<integer>1142</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/背景.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>56</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>1164</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/色子.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>1222</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/静音.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>56</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>1247</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>reg/create_title.png</key>
			<dict>
				<key>width</key>
				<integer>138</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>138</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1305</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>reg/reg_area.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>19</integer>
				<key>x</key>
				<integer>1445</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>reg/reg_error.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>29</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>1515</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>reg/reg_exit1.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>1546</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>reg/reg_exit2.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>1617</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>reg/reg_font.png</key>
			<dict>
				<key>width</key>
				<integer>191</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>1688</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>reg/reg_input_bg.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>1881</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>reg/reg_isRead.png</key>
			<dict>
				<key>width</key>
				<integer>237</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>237</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>reg/reg_isReadCheck.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>66</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>239</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>reg/reg_isReadCheck2.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>66</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>307</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>reg/reg_isReadText.png</key>
			<dict>
				<key>width</key>
				<integer>237</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>237</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>375</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>reg/reg_man1.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>25</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>614</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>reg/reg_man2.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>25</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>641</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>reg/reg_nickName.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>19</integer>
				<key>x</key>
				<integer>668</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>reg/reg_ok1.png</key>
			<dict>
				<key>width</key>
				<integer>249</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>249</integer>
				<key>originalHeight</key>
				<integer>67</integer>
				<key>x</key>
				<integer>710</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>reg/reg_ok2.png</key>
			<dict>
				<key>width</key>
				<integer>249</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>249</integer>
				<key>originalHeight</key>
				<integer>67</integer>
				<key>x</key>
				<integer>961</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>reg/reg_queding.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>90</integer>
				<key>originalHeight</key>
				<integer>54</integer>
				<key>x</key>
				<integer>1212</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>reg/reg_quxiao.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>90</integer>
				<key>originalHeight</key>
				<integer>54</integer>
				<key>x</key>
				<integer>1304</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>reg/reg_random1.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>105</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>1396</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>reg/reg_random2.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>105</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>1503</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>reg/reg_right.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>31</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>1610</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>reg/reg_sex.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>48</integer>
				<key>originalHeight</key>
				<integer>19</integer>
				<key>x</key>
				<integer>1643</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>reg/reg_sexButton1.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>105</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>1693</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>reg/reg_sexButton2.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>105</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>1800</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>reg/reg_title.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1907</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>reg/reg_woman1.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>2005</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>reg/reg_woman2.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>221</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/cortana_close1.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>28</integer>
				<key>y</key>
				<integer>221</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/cortana_close2.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>74</integer>
				<key>y</key>
				<integer>221</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/cortana_open1.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>120</integer>
				<key>y</key>
				<integer>221</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/cortana_open2.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>166</integer>
				<key>y</key>
				<integer>221</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/jiesuan_xuanYao1.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>85</integer>
				<key>originalHeight</key>
				<integer>138</integer>
				<key>x</key>
				<integer>212</integer>
				<key>y</key>
				<integer>221</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/jiesuan_xuanYao2.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>85</integer>
				<key>originalHeight</key>
				<integer>138</integer>
				<key>x</key>
				<integer>299</integer>
				<key>y</key>
				<integer>221</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/mj_nomalBg1.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>156</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>156</integer>
				<key>x</key>
				<integer>386</integer>
				<key>y</key>
				<integer>221</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/room_blinkLight.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>106</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>463</integer>
				<key>y</key>
				<integer>221</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/room_comeBack1.png</key>
			<dict>
				<key>width</key>
				<integer>249</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>249</integer>
				<key>originalHeight</key>
				<integer>67</integer>
				<key>x</key>
				<integer>571</integer>
				<key>y</key>
				<integer>221</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/room_comeBack2.png</key>
			<dict>
				<key>width</key>
				<integer>249</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>249</integer>
				<key>originalHeight</key>
				<integer>67</integer>
				<key>x</key>
				<integer>822</integer>
				<key>y</key>
				<integer>221</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/room_create1.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>130</integer>
				<key>originalHeight</key>
				<integer>139</integer>
				<key>x</key>
				<integer>1073</integer>
				<key>y</key>
				<integer>221</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/room_create2.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>130</integer>
				<key>originalHeight</key>
				<integer>139</integer>
				<key>x</key>
				<integer>1205</integer>
				<key>y</key>
				<integer>221</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/room_enter1.png</key>
			<dict>
				<key>width</key>
				<integer>173</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>173</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>1337</integer>
				<key>y</key>
				<integer>221</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/room_enter2.png</key>
			<dict>
				<key>width</key>
				<integer>173</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>173</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>1512</integer>
				<key>y</key>
				<integer>221</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/room_enter_bg.png</key>
			<dict>
				<key>width</key>
				<integer>616</integer>
				<key>height</key>
				<integer>319</integer>
				<key>originalWidth</key>
				<integer>616</integer>
				<key>originalHeight</key>
				<integer>319</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/room_gold.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>618</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/room_goldImage.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>27</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>688</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/room_itemBg.png</key>
			<dict>
				<key>width</key>
				<integer>957</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>957</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>717</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/room_jiange.png</key>
			<dict>
				<key>width</key>
				<integer>2</integer>
				<key>height</key>
				<integer>261</integer>
				<key>originalWidth</key>
				<integer>2</integer>
				<key>originalHeight</key>
				<integer>261</integer>
				<key>x</key>
				<integer>1676</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/room_loseNumFont.png</key>
			<dict>
				<key>width</key>
				<integer>328</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>1680</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/room_menu_enter1.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>113</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>700</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/room_menu_enter2.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>113</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>115</integer>
				<key>y</key>
				<integer>700</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/room_nickName.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>230</integer>
				<key>y</key>
				<integer>700</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/room_noInvite1.png</key>
			<dict>
				<key>width</key>
				<integer>336</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>336</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>300</integer>
				<key>y</key>
				<integer>700</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/room_pay1.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>105</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>638</integer>
				<key>y</key>
				<integer>700</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/room_pay2.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>105</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>745</integer>
				<key>y</key>
				<integer>700</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/room_winning.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>852</integer>
				<key>y</key>
				<integer>700</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/room_winningFont.png</key>
			<dict>
				<key>width</key>
				<integer>251</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>253</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>922</integer>
				<key>y</key>
				<integer>700</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/room_winNumFont.png</key>
			<dict>
				<key>width</key>
				<integer>330</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>1175</integer>
				<key>y</key>
				<integer>700</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/share_pengyouquan1.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>182</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>194</integer>
				<key>x</key>
				<integer>1507</integer>
				<key>y</key>
				<integer>700</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>roomEnded/share_pengyouquan2.png</key>
			<dict>
				<key>width</key>
				<integer>154</integer>
				<key>height</key>
				<integer>194</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>194</integer>
				<key>x</key>
				<integer>1639</integer>
				<key>y</key>
				<integer>700</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>roomEnded/share_weibo1.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>193</integer>
				<key>x</key>
				<integer>1795</integer>
				<key>y</key>
				<integer>700</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>userInfo/diamon.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>896</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/gender_man.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>17</integer>
				<key>originalHeight</key>
				<integer>17</integer>
				<key>x</key>
				<integer>30</integer>
				<key>y</key>
				<integer>896</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/gender_woman.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>17</integer>
				<key>originalHeight</key>
				<integer>17</integer>
				<key>x</key>
				<integer>49</integer>
				<key>y</key>
				<integer>896</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/gold.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>68</integer>
				<key>y</key>
				<integer>896</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_baohu.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>47</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>98</integer>
				<key>y</key>
				<integer>896</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_bigBg2.png</key>
			<dict>
				<key>width</key>
				<integer>599</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>599</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>147</integer>
				<key>y</key>
				<integer>896</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_cancel1.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>172</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>748</integer>
				<key>y</key>
				<integer>896</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_cancel2.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>172</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>922</integer>
				<key>y</key>
				<integer>896</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_cansai1.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>1096</integer>
				<key>y</key>
				<integer>896</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_cansai2.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>1198</integer>
				<key>y</key>
				<integer>896</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_coin.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>47</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>1300</integer>
				<key>y</key>
				<integer>896</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_diamond.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>1349</integer>
				<key>y</key>
				<integer>896</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_dui1.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>58</integer>
				<key>x</key>
				<integer>1414</integer>
				<key>y</key>
				<integer>896</integer>
				<key>offsetX</key>
				<real>46</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_dui2.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>58</integer>
				<key>x</key>
				<integer>1474</integer>
				<key>y</key>
				<integer>896</integer>
				<key>offsetX</key>
				<real>46</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_duihuan1.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>1534</integer>
				<key>y</key>
				<integer>896</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_duihuan2.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>1636</integer>
				<key>y</key>
				<integer>896</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_edit1.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>31</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>1738</integer>
				<key>y</key>
				<integer>896</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_edit2.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>31</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>1771</integer>
				<key>y</key>
				<integer>896</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_fangchong.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>47</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>1804</integer>
				<key>y</key>
				<integer>896</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_gold.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>1853</integer>
				<key>y</key>
				<integer>896</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>userInfo/info_hupaicishu.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>1918</integer>
				<key>y</key>
				<integer>896</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>UIMajiang7.png</string>
			<key>realTextureFileName</key>
			<string>UIMajiang7.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>