<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>playerInfo/messageBox_bg.png</key>
			<dict>
				<key>width</key>
				<integer>456</integer>
				<key>height</key>
				<integer>329</integer>
				<key>originalWidth</key>
				<integer>456</integer>
				<key>originalHeight</key>
				<integer>329</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/playerInfoBg.png</key>
			<dict>
				<key>width</key>
				<integer>293</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>293</integer>
				<key>originalHeight</key>
				<integer>166</integer>
				<key>x</key>
				<integer>458</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/Return1.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>753</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/Return2.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>820</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/room_createRoom1.png</key>
			<dict>
				<key>width</key>
				<integer>249</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>249</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>887</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/room_createRoom2.png</key>
			<dict>
				<key>width</key>
				<integer>249</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>249</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>1138</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/setting_bg.png</key>
			<dict>
				<key>width</key>
				<integer>477</integer>
				<key>height</key>
				<integer>319</integer>
				<key>originalWidth</key>
				<integer>477</integer>
				<key>originalHeight</key>
				<integer>319</integer>
				<key>x</key>
				<integer>1389</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/setting_chat0.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>99</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>1868</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/setting_chat1.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>99</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>331</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/setting_chat2.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>99</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>101</integer>
				<key>y</key>
				<integer>331</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/setting_fuxuanbg1.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>132</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>331</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/setting_fuxuanbg2.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>336</integer>
				<key>y</key>
				<integer>331</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/setting_set1.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>466</integer>
				<key>y</key>
				<integer>331</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/setting_set2.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>518</integer>
				<key>y</key>
				<integer>331</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/shezhi1.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>570</integer>
				<key>y</key>
				<integer>331</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/shezhi2.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>651</integer>
				<key>y</key>
				<integer>331</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/shezhi_anniu1.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>732</integer>
				<key>y</key>
				<integer>331</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/shezhi_anniu2.png</key>
			<dict>
				<key>width</key>
				<integer>336</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>336</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>768</integer>
				<key>y</key>
				<integer>331</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/shezhi_bg.png</key>
			<dict>
				<key>width</key>
				<integer>482</integer>
				<key>height</key>
				<integer>388</integer>
				<key>originalWidth</key>
				<integer>482</integer>
				<key>originalHeight</key>
				<integer>388</integer>
				<key>x</key>
				<integer>1106</integer>
				<key>y</key>
				<integer>331</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/Shield.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>127</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>1590</integer>
				<key>y</key>
				<integer>331</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/Shield2.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>1719</integer>
				<key>y</key>
				<integer>331</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/singCard_bg.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>1846</integer>
				<key>y</key>
				<integer>331</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/singCard_bg1.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>1881</integer>
				<key>y</key>
				<integer>331</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/singCard_bg2.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>24</integer>
				<key>originalHeight</key>
				<integer>126</integer>
				<key>x</key>
				<integer>1915</integer>
				<key>y</key>
				<integer>331</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/singCard_bg4.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>1941</integer>
				<key>y</key>
				<integer>331</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/singCard_fa.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>2007</integer>
				<key>y</key>
				<integer>331</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/singCard_lai.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>721</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/singCard_pi.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>35</integer>
				<key>y</key>
				<integer>721</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/singCard_zhong.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>70</integer>
				<key>y</key>
				<integer>721</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_addF1.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>130</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>105</integer>
				<key>y</key>
				<integer>721</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_addF2.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>130</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>237</integer>
				<key>y</key>
				<integer>721</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_allAgree1.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>130</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>369</integer>
				<key>y</key>
				<integer>721</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_allAgree2.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>130</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>501</integer>
				<key>y</key>
				<integer>721</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_geiqian1.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>633</integer>
				<key>y</key>
				<integer>721</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_geiqian2.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>715</integer>
				<key>y</key>
				<integer>721</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_hongzuan.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>47</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>797</integer>
				<key>y</key>
				<integer>721</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_hulue1.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>846</integer>
				<key>y</key>
				<integer>721</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_hulue2.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>928</integer>
				<key>y</key>
				<integer>721</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_shouqian1.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1010</integer>
				<key>y</key>
				<integer>721</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_shouqian2.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1092</integer>
				<key>y</key>
				<integer>721</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_song1.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1174</integer>
				<key>y</key>
				<integer>721</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_song2.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1256</integer>
				<key>y</key>
				<integer>721</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_yao1.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1338</integer>
				<key>y</key>
				<integer>721</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_yao2.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1420</integer>
				<key>y</key>
				<integer>721</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_yiyaoqian.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1502</integer>
				<key>y</key>
				<integer>721</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_yizengsong.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1584</integer>
				<key>y</key>
				<integer>721</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/TalkBG.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>1666</integer>
				<key>y</key>
				<integer>721</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/tileUpset_me_0.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>46</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>1924</integer>
				<key>y</key>
				<integer>721</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>playerInfo/tileUpset_me_1.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>46</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>1970</integer>
				<key>y</key>
				<integer>721</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>playerInfo/toggle_back.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/toggle_center.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>123</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/toggle_off.png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>115</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>206</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/toggle_on.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>122</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>323</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/tuoguan1.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>447</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/tuoguan2.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>528</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/wait_Bg.png</key>
			<dict>
				<key>width</key>
				<integer>260</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>260</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>609</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/wait_hor.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>151</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>871</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/三角.png</key>
			<dict>
				<key>width</key>
				<integer>10</integer>
				<key>height</key>
				<integer>4</integer>
				<key>originalWidth</key>
				<integer>10</integer>
				<key>originalHeight</key>
				<integer>4</integer>
				<key>x</key>
				<integer>1024</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/上家.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>43</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>1036</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/下家.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>43</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>1081</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/对家.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>1126</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/本家.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>43</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>1172</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/牌面.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>1217</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/番.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>19</integer>
				<key>x</key>
				<integer>1274</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/背景.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>56</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>1296</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/色子.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>1354</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/静音.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>56</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>1379</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>reg/reg_area.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>19</integer>
				<key>x</key>
				<integer>1437</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>reg/reg_error.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>29</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>1507</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>reg/reg_font.png</key>
			<dict>
				<key>width</key>
				<integer>191</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>1538</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>reg/reg_input_bg.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>1731</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>reg/reg_isRead.png</key>
			<dict>
				<key>width</key>
				<integer>237</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>237</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>1755</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>UIMajiang6.png</string>
			<key>realTextureFileName</key>
			<string>UIMajiang6.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>