<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>competition/menu_week.png</key>
			<dict>
				<key>width</key>
				<integer>492</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>492</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>head/head_0_0.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>207</integer>
				<key>originalWidth</key>
				<integer>218</integer>
				<key>originalHeight</key>
				<integer>218</integer>
				<key>x</key>
				<integer>494</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>head/head_0_1.png</key>
			<dict>
				<key>width</key>
				<integer>209</integer>
				<key>height</key>
				<integer>207</integer>
				<key>originalWidth</key>
				<integer>218</integer>
				<key>originalHeight</key>
				<integer>218</integer>
				<key>x</key>
				<integer>672</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>head/head_0_2.png</key>
			<dict>
				<key>width</key>
				<integer>188</integer>
				<key>height</key>
				<integer>209</integer>
				<key>originalWidth</key>
				<integer>218</integer>
				<key>originalHeight</key>
				<integer>218</integer>
				<key>x</key>
				<integer>883</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>head/head_1_0.png</key>
			<dict>
				<key>width</key>
				<integer>201</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>218</integer>
				<key>originalHeight</key>
				<integer>218</integer>
				<key>x</key>
				<integer>1073</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>head/head_1_1.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>203</integer>
				<key>originalWidth</key>
				<integer>218</integer>
				<key>originalHeight</key>
				<integer>218</integer>
				<key>x</key>
				<integer>1276</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>head/head_1_2.png</key>
			<dict>
				<key>width</key>
				<integer>208</integer>
				<key>height</key>
				<integer>216</integer>
				<key>originalWidth</key>
				<integer>218</integer>
				<key>originalHeight</key>
				<integer>218</integer>
				<key>x</key>
				<integer>1478</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>hu/haidinao.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>151</integer>
				<key>originalHeight</key>
				<integer>47</integer>
				<key>x</key>
				<integer>1688</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hu/jiangyise.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>151</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>1841</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hu/pengpenghu.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>151</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hu/pihu.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>47</integer>
				<key>x</key>
				<integer>153</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hu/qianggang.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>253</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hu/qingyise.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>151</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>355</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hu/quanqiuren.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>151</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>508</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>login/login_btn1.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>130</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>661</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>login/login_btn2.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>130</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>793</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>login/login_error_bg.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>31</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>925</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>login/login_frist1.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>130</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>958</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>login/login_frist2.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>130</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>1090</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>login/login_input_bg.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>30</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>1222</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>login/login_museme.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>455</integer>
				<key>originalWidth</key>
				<integer>237</integer>
				<key>originalHeight</key>
				<integer>455</integer>
				<key>x</key>
				<integer>1254</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>login/login_reg.png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>115</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>1486</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>login/login_title.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>181</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>675</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>login/login_weibo1.png</key>
			<dict>
				<key>width</key>
				<integer>405</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>405</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>514</integer>
				<key>y</key>
				<integer>675</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>login/login_weibo2.png</key>
			<dict>
				<key>width</key>
				<integer>405</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>405</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>921</integer>
				<key>y</key>
				<integer>675</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mall/mail_danweiDiamond.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>30</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>1328</integer>
				<key>y</key>
				<integer>675</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mall/mail_danweiRMB.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>1360</integer>
				<key>y</key>
				<integer>675</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mall/mail_ground.png</key>
			<dict>
				<key>width</key>
				<integer>202</integer>
				<key>height</key>
				<integer>171</integer>
				<key>originalWidth</key>
				<integer>206</integer>
				<key>originalHeight</key>
				<integer>188</integer>
				<key>x</key>
				<integer>1388</integer>
				<key>y</key>
				<integer>675</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>mall/mail_number.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>132</integer>
				<key>originalHeight</key>
				<integer>17</integer>
				<key>x</key>
				<integer>1592</integer>
				<key>y</key>
				<integer>675</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mall/mall_benjihaoma1.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>1724</integer>
				<key>y</key>
				<integer>675</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mall/mall_benjihaoma2.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>1826</integer>
				<key>y</key>
				<integer>675</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mall/mall_cancel1.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>73</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>858</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mall/mall_cancel2.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>73</integer>
				<key>x</key>
				<integer>162</integer>
				<key>y</key>
				<integer>858</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mall/mall_exchange1.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>324</integer>
				<key>y</key>
				<integer>858</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mall/mall_exchange2.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>424</integer>
				<key>y</key>
				<integer>858</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mall/mall_head_bg.png</key>
			<dict>
				<key>width</key>
				<integer>191</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>191</integer>
				<key>originalHeight</key>
				<integer>57</integer>
				<key>x</key>
				<integer>524</integer>
				<key>y</key>
				<integer>858</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mall/mall_hentiao.png</key>
			<dict>
				<key>width</key>
				<integer>952</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>952</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>717</integer>
				<key>y</key>
				<integer>858</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mall/mall_hot.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>1671</integer>
				<key>y</key>
				<integer>858</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mall/mall_item_pay1.png</key>
			<dict>
				<key>width</key>
				<integer>217</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>217</integer>
				<key>originalHeight</key>
				<integer>57</integer>
				<key>x</key>
				<integer>1748</integer>
				<key>y</key>
				<integer>858</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mall/mall_item_pay2.png</key>
			<dict>
				<key>width</key>
				<integer>217</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>217</integer>
				<key>originalHeight</key>
				<integer>57</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>958</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mall/mall_itesm_pay_Bg.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>219</integer>
				<key>y</key>
				<integer>958</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mall/mall_next.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>436</integer>
				<key>y</key>
				<integer>958</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mall/mall_Null.png</key>
			<dict>
				<key>width</key>
				<integer>432</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>432</integer>
				<key>originalHeight</key>
				<integer>42</integer>
				<key>x</key>
				<integer>461</integer>
				<key>y</key>
				<integer>958</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mall/mall_tickets_count.png</key>
			<dict>
				<key>width</key>
				<integer>57</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>57</integer>
				<key>originalHeight</key>
				<integer>64</integer>
				<key>x</key>
				<integer>895</integer>
				<key>y</key>
				<integer>958</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mall/mall_wangjimima.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>954</integer>
				<key>y</key>
				<integer>958</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mall/mall_wangjimima1.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>1056</integer>
				<key>y</key>
				<integer>958</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mall/mall_wangjimima2.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>1158</integer>
				<key>y</key>
				<integer>958</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>museme/museme_phiz1.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>47</integer>
				<key>originalHeight</key>
				<integer>42</integer>
				<key>x</key>
				<integer>1260</integer>
				<key>y</key>
				<integer>958</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>museme/museme_phiz2.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>47</integer>
				<key>originalHeight</key>
				<integer>42</integer>
				<key>x</key>
				<integer>1309</integer>
				<key>y</key>
				<integer>958</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>museme/museme_phiz3.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>47</integer>
				<key>originalHeight</key>
				<integer>42</integer>
				<key>x</key>
				<integer>1358</integer>
				<key>y</key>
				<integer>958</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>museme/tips_jiangli.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>48</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>1407</integer>
				<key>y</key>
				<integer>958</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>museme/tips_saikuang.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>48</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>1457</integer>
				<key>y</key>
				<integer>958</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>museme/tips_tuoguan.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>72</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>1507</integer>
				<key>y</key>
				<integer>958</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>UIMajiang2.png</string>
			<key>realTextureFileName</key>
			<string>UIMajiang2.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>