<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>options/bg.png</key>
			<dict>
				<key>width</key>
				<integer>736</integer>
				<key>height</key>
				<integer>492</integer>
				<key>originalWidth</key>
				<integer>736</integer>
				<key>originalHeight</key>
				<integer>492</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/beijing_zong.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>109</integer>
				<key>x</key>
				<integer>738</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/benjulaizi.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>148</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>810</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/chatHead1.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>68</integer>
				<key>x</key>
				<integer>960</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/chatHead2.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>68</integer>
				<key>x</key>
				<integer>1030</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/chatHead3.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>67</integer>
				<key>originalHeight</key>
				<integer>67</integer>
				<key>x</key>
				<integer>1100</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/chat_send1.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>1169</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/chat_send2.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>1260</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/cortana_hulue1.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1351</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/cortana_hulue2.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1433</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/cortana_ok1.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1515</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/cortana_ok2.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1597</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/CreateRoom2.png</key>
			<dict>
				<key>width</key>
				<integer>249</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>249</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>1679</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/daoju1.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>1930</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/daoju2.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/duihua1.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>81</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/duihua2.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>162</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/flee.png</key>
			<dict>
				<key>width</key>
				<integer>429</integer>
				<key>height</key>
				<integer>268</integer>
				<key>originalWidth</key>
				<integer>429</integer>
				<key>originalHeight</key>
				<integer>268</integer>
				<key>x</key>
				<integer>243</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/friend_bunengweiguan.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>674</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/friend_Canceljinyan1.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>756</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/friend_Canceljinyan2.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>838</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/friend_jinyan1.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>920</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/friend_jinyan2.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1002</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/friend_jinzhiweiguan1.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1084</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/friend_jinzhiweiguan2.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1166</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/friend_quxiaojinzhiweiguan1.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1248</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/friend_quxiaojinzhiweiguan2.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1330</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/friend_quxiaoweiguan1.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1412</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/friend_quxiaoweiguan2.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1494</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/friend_weiguan1.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1576</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/friend_weiguan2.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1658</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/game_exit1.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>53</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>1740</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/game_exit2.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>53</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>1795</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/haishengzhangshu.png</key>
			<dict>
				<key>width</key>
				<integer>538</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>86</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/head1.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>48</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>540</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/huanggou.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>590</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/huangjing.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>625</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/huigou.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>660</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/huijing.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>695</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_bg2.png</key>
			<dict>
				<key>width</key>
				<integer>11</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>11</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>730</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_bg4.png</key>
			<dict>
				<key>width</key>
				<integer>9</integer>
				<key>height</key>
				<integer>155</integer>
				<key>originalWidth</key>
				<integer>9</integer>
				<key>originalHeight</key>
				<integer>155</integer>
				<key>x</key>
				<integer>743</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_blueNum.png</key>
			<dict>
				<key>width</key>
				<integer>285</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>285</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>754</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_duijia.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>1041</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_duijia1.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>67</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>1139</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_exit1.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>166</integer>
				<key>originalHeight</key>
				<integer>62</integer>
				<key>x</key>
				<integer>1208</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_exit2.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>166</integer>
				<key>originalHeight</key>
				<integer>62</integer>
				<key>x</key>
				<integer>1376</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_heji.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>1544</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_hejiGold.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>1627</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_hejiNum.png</key>
			<dict>
				<key>width</key>
				<integer>330</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>1652</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_huanzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>166</integer>
				<key>originalHeight</key>
				<integer>62</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>921</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_huanzhuo2.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>166</integer>
				<key>originalHeight</key>
				<integer>62</integer>
				<key>x</key>
				<integer>168</integer>
				<key>y</key>
				<integer>921</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_hupai.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>336</integer>
				<key>y</key>
				<integer>921</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_jixu.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>166</integer>
				<key>originalHeight</key>
				<integer>62</integer>
				<key>x</key>
				<integer>434</integer>
				<key>y</key>
				<integer>921</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_jixu2.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>166</integer>
				<key>originalHeight</key>
				<integer>62</integer>
				<key>x</key>
				<integer>602</integer>
				<key>y</key>
				<integer>921</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_jixu_num.png</key>
			<dict>
				<key>width</key>
				<integer>251</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>252</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>770</integer>
				<key>y</key>
				<integer>921</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_shangjia.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>1023</integer>
				<key>y</key>
				<integer>921</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_shangjia1.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>67</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>1121</integer>
				<key>y</key>
				<integer>921</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_wo.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>54</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>1190</integer>
				<key>y</key>
				<integer>921</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_wo1.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>1246</integer>
				<key>y</key>
				<integer>921</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_xiajia.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>1281</integer>
				<key>y</key>
				<integer>921</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_xiajia1.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>67</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>1379</integer>
				<key>y</key>
				<integer>921</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_xiazhuo1.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>166</integer>
				<key>originalHeight</key>
				<integer>62</integer>
				<key>x</key>
				<integer>1448</integer>
				<key>y</key>
				<integer>921</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_xiazhuo2.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>166</integer>
				<key>originalHeight</key>
				<integer>62</integer>
				<key>x</key>
				<integer>1616</integer>
				<key>y</key>
				<integer>921</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_yuanjiao.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>43</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>1784</integer>
				<key>y</key>
				<integer>921</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/Kickedout1.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1829</integer>
				<key>y</key>
				<integer>921</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/Kickedout2.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1911</integer>
				<key>y</key>
				<integer>921</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/playerBg.png</key>
			<dict>
				<key>width</key>
				<integer>260</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>260</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>985</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/playerBg1.png</key>
			<dict>
				<key>width</key>
				<integer>254</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>262</integer>
				<key>y</key>
				<integer>985</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/playerBg2.png</key>
			<dict>
				<key>width</key>
				<integer>260</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>260</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>518</integer>
				<key>y</key>
				<integer>985</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/play_bg.png</key>
			<dict>
				<key>width</key>
				<integer>180</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>780</integer>
				<key>y</key>
				<integer>985</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/roomOwner.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>31</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>962</integer>
				<key>y</key>
				<integer>985</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/room_fengNum1.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>132</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>995</integer>
				<key>y</key>
				<integer>985</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/room_fengNum2.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>132</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>1129</integer>
				<key>y</key>
				<integer>985</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/room_hong1.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>117</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>1263</integer>
				<key>y</key>
				<integer>985</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/room_hong2.png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>115</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>1382</integer>
				<key>y</key>
				<integer>985</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/room_laizipi1.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>1499</integer>
				<key>y</key>
				<integer>985</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/room_laizipi2.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>1597</integer>
				<key>y</key>
				<integer>985</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/room_noTop1.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>76</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>1693</integer>
				<key>y</key>
				<integer>985</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/room_noTop2.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>1771</integer>
				<key>y</key>
				<integer>985</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>UIMajiang5.png</string>
			<key>realTextureFileName</key>
			<string>UIMajiang5.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>