<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Setting_InGame_Back.png</key>
			<dict>
				<key>width</key>
				<integer>958</integer>
				<key>height</key>
				<integer>492</integer>
				<key>originalWidth</key>
				<integer>958</integer>
				<key>originalHeight</key>
				<integer>492</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/addTime_bg.png</key>
			<dict>
				<key>width</key>
				<integer>577</integer>
				<key>height</key>
				<integer>408</integer>
				<key>originalWidth</key>
				<integer>577</integer>
				<key>originalHeight</key>
				<integer>408</integer>
				<key>x</key>
				<integer>960</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/baofang_chats1.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>91</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/baofang_chats2.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>91</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>93</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/baofang_chat_InputBg.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>186</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/baofang_fuxuanBg.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>166</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>214</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/baofang_fuxuanBg1.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>170</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>382</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/baofang_fuxuanBg2.png</key>
			<dict>
				<key>width</key>
				<integer>165</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>554</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/baofang_haoyouList1.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>91</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>721</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/baofang_haoyouList2.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>91</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>814</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/baofang_nameBg.png</key>
			<dict>
				<key>width</key>
				<integer>249</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>249</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>907</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/baofang_shang1.png</key>
			<dict>
				<key>width</key>
				<integer>249</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>249</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>1158</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/baofang_shang2.png</key>
			<dict>
				<key>width</key>
				<integer>249</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>249</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>1409</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/baofang_shouhui.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>41</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>1660</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/baofang_tanchu.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>41</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>1703</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/baofang_tijiao.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>130</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>1746</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/baofang_tijiao1.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>59</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>1878</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/baofang_tijiao2.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>59</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>1939</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/baofang_tuichu1.png</key>
			<dict>
				<key>width</key>
				<integer>139</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>139</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>583</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/baofang_tuichu2.png</key>
			<dict>
				<key>width</key>
				<integer>139</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>139</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>141</integer>
				<key>y</key>
				<integer>583</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/baofang_xia1.png</key>
			<dict>
				<key>width</key>
				<integer>249</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>249</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>282</integer>
				<key>y</key>
				<integer>583</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/baofang_xia2.png</key>
			<dict>
				<key>width</key>
				<integer>249</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>249</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>533</integer>
				<key>y</key>
				<integer>583</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/baofang_xushi1.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>119</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>784</integer>
				<key>y</key>
				<integer>583</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/baofang_xushi2.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>119</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>905</integer>
				<key>y</key>
				<integer>583</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/baofang_yaoqing1.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>99</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>583</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/baofang_yaoqing2.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>99</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>1127</integer>
				<key>y</key>
				<integer>583</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/baogang_msg1.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>91</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>1228</integer>
				<key>y</key>
				<integer>583</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/baogang_msg2.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>91</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>1321</integer>
				<key>y</key>
				<integer>583</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/beijing_huang.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>109</integer>
				<key>x</key>
				<integer>1414</integer>
				<key>y</key>
				<integer>583</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/beijing_hui.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>109</integer>
				<key>x</key>
				<integer>1486</integer>
				<key>y</key>
				<integer>583</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/beijing_lan.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>109</integer>
				<key>x</key>
				<integer>1558</integer>
				<key>y</key>
				<integer>583</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/beijing_lv.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>109</integer>
				<key>x</key>
				<integer>1630</integer>
				<key>y</key>
				<integer>583</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/beijing_zi.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>109</integer>
				<key>x</key>
				<integer>1702</integer>
				<key>y</key>
				<integer>583</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/beijing_zong.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>109</integer>
				<key>x</key>
				<integer>1774</integer>
				<key>y</key>
				<integer>583</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/chatHead1.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>68</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>694</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/chatHead2.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>68</integer>
				<key>x</key>
				<integer>70</integer>
				<key>y</key>
				<integer>694</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/chatHead3.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>67</integer>
				<key>originalHeight</key>
				<integer>67</integer>
				<key>x</key>
				<integer>140</integer>
				<key>y</key>
				<integer>694</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/chatTankuang.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>19</integer>
				<key>x</key>
				<integer>209</integer>
				<key>y</key>
				<integer>694</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/chat_send1.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>231</integer>
				<key>y</key>
				<integer>694</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/chat_send2.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>322</integer>
				<key>y</key>
				<integer>694</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/cortana_hulue1.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>413</integer>
				<key>y</key>
				<integer>694</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/cortana_hulue2.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>495</integer>
				<key>y</key>
				<integer>694</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/cortana_ok1.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>577</integer>
				<key>y</key>
				<integer>694</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/cortana_ok2.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>659</integer>
				<key>y</key>
				<integer>694</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/createRomm2.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>109</integer>
				<key>x</key>
				<integer>741</integer>
				<key>y</key>
				<integer>694</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/createRoom1.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>109</integer>
				<key>x</key>
				<integer>1023</integer>
				<key>y</key>
				<integer>694</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/CreateRoom2.png</key>
			<dict>
				<key>width</key>
				<integer>249</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>249</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>1305</integer>
				<key>y</key>
				<integer>694</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/daoju1.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>1556</integer>
				<key>y</key>
				<integer>694</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/daoju2.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>1637</integer>
				<key>y</key>
				<integer>694</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/duihua1.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>1718</integer>
				<key>y</key>
				<integer>694</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/duihua2.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>1799</integer>
				<key>y</key>
				<integer>694</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/egg1.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>25</integer>
				<key>originalHeight</key>
				<integer>23</integer>
				<key>x</key>
				<integer>1880</integer>
				<key>y</key>
				<integer>694</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/egg2.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>25</integer>
				<key>originalHeight</key>
				<integer>23</integer>
				<key>x</key>
				<integer>1907</integer>
				<key>y</key>
				<integer>694</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/fanshu.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>110</integer>
				<key>originalHeight</key>
				<integer>17</integer>
				<key>x</key>
				<integer>1934</integer>
				<key>y</key>
				<integer>694</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/fanshu1.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>110</integer>
				<key>originalHeight</key>
				<integer>17</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>805</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/fanshuBg.jpg</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>1</integer>
				<key>originalHeight</key>
				<integer>1</integer>
				<key>x</key>
				<integer>112</integer>
				<key>y</key>
				<integer>805</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/flower1.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>25</integer>
				<key>originalHeight</key>
				<integer>23</integer>
				<key>x</key>
				<integer>115</integer>
				<key>y</key>
				<integer>805</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/flower2.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>25</integer>
				<key>originalHeight</key>
				<integer>23</integer>
				<key>x</key>
				<integer>142</integer>
				<key>y</key>
				<integer>805</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/friend_Canceljinyan1.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>101</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>169</integer>
				<key>y</key>
				<integer>805</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/friend_Canceljinyan2.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>101</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>272</integer>
				<key>y</key>
				<integer>805</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/friend_hengtiao.png</key>
			<dict>
				<key>width</key>
				<integer>447</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>447</integer>
				<key>originalHeight</key>
				<integer>3</integer>
				<key>x</key>
				<integer>375</integer>
				<key>y</key>
				<integer>805</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/friend_jinyan1.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>101</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>824</integer>
				<key>y</key>
				<integer>805</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/friend_jinyan2.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>101</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>927</integer>
				<key>y</key>
				<integer>805</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/friend_jinzhiweiguan1.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>101</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>1030</integer>
				<key>y</key>
				<integer>805</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/friend_jinzhiweiguan2.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>101</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>1133</integer>
				<key>y</key>
				<integer>805</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/friend_quxiaojinzhiweiguan1.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>101</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>1236</integer>
				<key>y</key>
				<integer>805</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/friend_quxiaojinzhiweiguan2.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>101</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>1339</integer>
				<key>y</key>
				<integer>805</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/friend_quxiaoweiguan1.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>101</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>1442</integer>
				<key>y</key>
				<integer>805</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/friend_quxiaoweiguan2.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>101</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>1545</integer>
				<key>y</key>
				<integer>805</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/friend_weiguan1.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>101</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>1648</integer>
				<key>y</key>
				<integer>805</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/friend_weiguan2.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>101</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>1751</integer>
				<key>y</key>
				<integer>805</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/haishengzhangshu.png</key>
			<dict>
				<key>width</key>
				<integer>540</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>540</integer>
				<key>originalHeight</key>
				<integer>86</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>857</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/head1.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>48</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>542</integer>
				<key>y</key>
				<integer>857</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/huanggou.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>592</integer>
				<key>y</key>
				<integer>857</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/huangjing.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>627</integer>
				<key>y</key>
				<integer>857</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/huigou.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>662</integer>
				<key>y</key>
				<integer>857</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/huijing.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>697</integer>
				<key>y</key>
				<integer>857</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/img_num_gold.png</key>
			<dict>
				<key>width</key>
				<integer>209</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>732</integer>
				<key>y</key>
				<integer>857</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_bg2.png</key>
			<dict>
				<key>width</key>
				<integer>11</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>11</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>943</integer>
				<key>y</key>
				<integer>857</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_bg4.png</key>
			<dict>
				<key>width</key>
				<integer>9</integer>
				<key>height</key>
				<integer>155</integer>
				<key>originalWidth</key>
				<integer>9</integer>
				<key>originalHeight</key>
				<integer>155</integer>
				<key>x</key>
				<integer>956</integer>
				<key>y</key>
				<integer>857</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_blueGold.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>19</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>967</integer>
				<key>y</key>
				<integer>857</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_blueNum.png</key>
			<dict>
				<key>width</key>
				<integer>285</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>285</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>988</integer>
				<key>y</key>
				<integer>857</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_chongzhi.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>132</integer>
				<key>originalHeight</key>
				<integer>47</integer>
				<key>x</key>
				<integer>1275</integer>
				<key>y</key>
				<integer>857</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_chongzhi2.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>132</integer>
				<key>originalHeight</key>
				<integer>47</integer>
				<key>x</key>
				<integer>1409</integer>
				<key>y</key>
				<integer>857</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_chongzhi3.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>132</integer>
				<key>originalHeight</key>
				<integer>47</integer>
				<key>x</key>
				<integer>1543</integer>
				<key>y</key>
				<integer>857</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_duijia.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>92</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>1677</integer>
				<key>y</key>
				<integer>857</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_duijia1.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>67</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>1771</integer>
				<key>y</key>
				<integer>857</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_heji.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>1840</integer>
				<key>y</key>
				<integer>857</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/jiesuan_hejiGold.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>1923</integer>
				<key>y</key>
				<integer>857</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/sociality_hentiao.png</key>
			<dict>
				<key>width</key>
				<integer>690</integer>
				<key>height</key>
				<integer>2</integer>
				<key>originalWidth</key>
				<integer>690</integer>
				<key>originalHeight</key>
				<integer>2</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1014</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>playerInfo/三角.png</key>
			<dict>
				<key>width</key>
				<integer>10</integer>
				<key>height</key>
				<integer>4</integer>
				<key>originalWidth</key>
				<integer>10</integer>
				<key>originalHeight</key>
				<integer>4</integer>
				<key>x</key>
				<integer>692</integer>
				<key>y</key>
				<integer>1014</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>UIMajiang3.png</string>
			<key>realTextureFileName</key>
			<string>UIMajiang3.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>